{{>layout/header}}

<h1>Post Registration</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <!--        <form action="/api/v1/posts" method="post" name="postsRequestDto">-->
        <form>
            <div class="form-group">
                <label for="title">title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Please enter a title">
            </div>
            <div class="form-group">
                <label for="author"> Writer </label>
                <input type="text" class="form-control" id="author" name="author" placeholder="Enter the author">
            </div>
            <div class="form-group">
                <label for="content"> Contents </label>
                <textarea class="form-control" id="content" name="content"
                          placeholder="Please enter contents"></textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">Cancel</a>
        <button type="button" class="btn btn-primary" id="btn-save">Enrollment</button>
    </div>
</div>

{{>layout/footer}}
